<head>
  <link rel="stylesheet" href="home.css" type="text/css" />
  
  <script
    src="https://kit.fontawesome.com/f64de7b412.js"
    crossorigin="anonymous"
  ></script>
</head>
<body>
  <div class="search-bar">
    <div class="content">
      <div class="search">
        <input
          type="text"
          class="search__input"
          aria-label="search"
          placeholder="enter your search"
        />
        <a>
            
        </a>
        <button class="search__btn" aria-label="submit search">
          <i class="fas fa-search"></i>
        </button>
      </div>
    </div>

  </div>
     
<main role="main">
 
  <section class="videos" id="featured-videos">
    <div class="video-grid front-page" id="front-page-videos">
      <ul class="video-list featured">
        <!-- <li class="video featured">
          <a data-fancybox href="https://www.youtube.com/embed/Zq6Crtglztk?autoplay=1&controls=0&showinfo=0&color=white&rel=0" class="featured-video">
            <figure style="background-image: url(https://img.youtube.com/vi/Zq6Crtglztk/hqdefault.jpg);">
              <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/50598/video-thumb-placeholder-16-9.png" />
              <figcaption>Swap-Meet Speed for Roadkill Nights</figcaption>
            </figure>
          </a>
        </li>
        <li class="video featured">
          <a data-fancybox href="https://www.youtube.com/embed/qDK86kzgUPg?autoplay=1&controls=0&showinfo=0&color=white&rel=0" class="featured-video">
            <figure style="background-image: url(https://img.youtube.com/vi/qDK86kzgUPg/hqdefault.jpg);">
              <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/50598/video-thumb-placeholder-16-9.png" />
              <figcaption>Cummins Diesel in a Cadillac</figcaption>
            </figure>
          </a>
        </li>
        <li class="video featured">
          <a data-fancybox href="https://www.youtube.com/embed/uSB2_428P2w?autoplay=1&controls=0&showinfo=0&color=white&rel=0" class="featured-video">
            <figure style="background-image: url(https://img.youtube.com/vi/uSB2_428P2w/hqdefault.jpg);">
              <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/50598/video-thumb-placeholder-16-9.png" />
              <figcaption>Dirt-Track Challenger Rescue and Thrash</figcaption>
            </figure>
          </a>
        </li>
        <li class="video featured">
          <a data-fancybox href="https://www.youtube.com/embed/pOhl6oVpEes?autoplay=1&controls=0&showinfo=0&color=white&rel=0" class="featured-video">
            <figure style="background-image: url(https://img.youtube.com/vi/pOhl6oVpEes/hqdefault.jpg);">
              <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/50598/video-thumb-placeholder-16-9.png" />
              <figcaption>Junkyard 1956 Buick Hack</figcaption>
            </figure>
          </a>
        </li>
        <li class="video featured">
          <a data-fancybox href="https://www.youtube.com/embed/PVs_xZ46Cxw?autoplay=1&controls=0&showinfo=0&color=white&rel=0" class="featured-video">
            <figure style="background-image: url(https://img.youtube.com/vi/PVs_xZ46Cxw/hqdefault.jpg);">
              <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/50598/video-thumb-placeholder-16-9.png" />
              <figcaption>Wheelstanding Dump Truck! Stubby Bob’s Comeback</figcaption>
            </figure>
          </a>
        </li>
        <li class="video featured">
          <a data-fancybox href="https://www.youtube.com/embed/C4jk51rgfts?autoplay=1&controls=0&showinfo=0&color=white&rel=0" class="featured-video">
            <figure style="background-image: url(https://img.youtube.com/vi/C4jk51rgfts/hqdefault.jpg);">
              <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/50598/video-thumb-placeholder-16-9.png" />
              <figcaption>Will It Go 10s? Mazdarati Is Back!</figcaption>
            </figure>
          </a>
        </li> -->
      </ul>
    </div
  </section>
</main>
<div class="wrapper">
  <ul class="kai-pagination">
    <li class="pagination-item is-prev">
      <a href="">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>
      </a>
    </li>
    <li class="pagination-item is-next">
      <a href="">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>    
      </a>
    </li>
  </ul>
</div>
</body>
<script type="text/javascript" src="home.js"></script>